 .modal {
    animation: modal 0.6s forwards;
    visibility: hidden;
    opacity: 0;
}


@keyframes modal {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.image_modal {
    animation: image_modal 1.5s forwards;
    visibility: hidden;
    opacity: 0;
}

@keyframes image_modal {
    100% {
        visibility: visible;
        opacity: 1;
    }
} 

.image_container {
    animation: image_container 1s forwards;
    visibility: hidden;
    opacity: 0;
}

@keyframes image_container {
    100% {
        visibility: visible;
        opacity: 1;
    }
} 
